body {
    width: 80%;
    align-content: center;
    margin-left: 10%;
    background-color: #F7F6F2;
}

.page{
    font-size: 25px;
    text-align: center
}
.highcharts-description{
        text-align: center;
    

}

.highcharts-figure{
    margin-top: 50px;;
    margin-bottom: 50px;
    border-width: 1px;
    border-style: solid;
}